<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <main>
        <form>
            <fieldset>
                <h1>Cadastro</h1>
            
                <label for="email">Email:</label>
                <input type="email" name="email">

                <label for="senha">Senha:</label>
                <input type="password" name="senha">

                <label for="confirmar_senha">Confirmar senha:</label>
                <input type="password" name="confirmar_senha">

                <div>
                    <input type="submit" value="Confirmar">
                    <a href="#">Voltar</a>
                </div>
            </fieldset>
        </form>
    </main>
</body>
</html>